@using AnApiOfIceAndFire.Infrastructure.Extensions

@{
    ViewBag.Title = "Documentation";
}

<h2>Documentation</h2>

<div class="row">
    <div class="col-sm-3 col-md-3">
        <h5>Overview</h5>
        <ul class="list-group">
            <li class="list-group-item"><a href="#intro">Introduction</a></li>
            <li class="list-group-item"><a href="#current_version">Current Version</a></li>
            <li class="list-group-item"><a href="#root_endpoint">Root Endpoint</a></li>
            <li class="list-group-item"><a href="#authentication">Authentication</a></li>
            <li class="list-group-item"><a href="#hypermedia">Hypermedia</a></li>
            <li class="list-group-item"><a href="#pagination">Pagination</a></li>
            <li class="list-group-item"><a href="#rate_limiting">Rate Limiting</a></li>
            <li class="list-group-item"><a href="#versioning">Versioning</a></li>
        </ul>
        <h5>Resources</h5>
        <ul class="list-group">
            <li class="list-group-item"><a href="#books">Books</a></li>
            <li class="list-group-item"><a href="#characters">Characters</a></li>
            <li class="list-group-item"><a href="#houses">Houses</a></li>
        </ul>
        <h5>Libraries</h5>
        <ul class="list-group"></ul>
    </div>

    <div class="col-md-9 col-sm-9">
        @Html.Markdown("~/Content/Documentation/Documentation.md")
        @Html.Markdown("~/Content/Documentation/Libraries.md")
    </div>
</div>