<h3>Libraries</h3>
<hr />
<p>There exists helper libraries that will help you consume An API of Ice And Fire in a specific programming language.</p>

<div>
    <a name="library-elixir"></a>
    <h4>Elixir</h4>
    <ul>
        <li>
            <a href="https://github.com/sotojuan/maester">maester</a> by <a href="https://github.com/sotojuan">Juan Soto</a>
        </li>
    </ul>
</div>
<div>
    <a name="library-graphql"></a>
    <h4>GraphQL</h4>
    <ul>
        <li>
            <a href="https://github.com/afram/iceandfire-graphql">iceandfire-graphql</a> by <a href="https://github.com/afram">Marwan Butrous</a>
        </li>
    </ul>
</div>
<div>
    <a name="library-haskell"></a>
    <h4>Haskell</h4>
    <ul>
        <li>
            <a href="https://github.com/kberger/anapioficeandfire-haskell">anapioficeandfire-haskell</a> by <a href="https://github.com/kberger">Karl Berger</a>
        </li>
    </ul>
</div>
<div>
    <a name="library-node"></a>
    <h4>Node</h4>
    <ul>
        <li><a href="https://github.com/arbazsiddiqui/A-song-of-ice-and-fire-API">asoiaf-api</a> by <a href="https://github.com/arbazsiddiqui">Arbaz Siddqiui</a></li>
        <li><a href="https://github.com/alexwebb2/node-api-iceandfire">node-api-iceandfire</a> by <a href="http://alexwebb.info/">Alex Webb</a></li>
    </ul>
</div>
<div>
    <a name="library-python"></a>
    <h4>Python</h4>
    <ul>
        <li><a href="https://github.com/joakimskoog/anapioficeandfire-python">anapioficeandfire-python</a> by the author of An API of ice And Fire, <a href="https://joakimskoog.me/">Joakim Skoog</a></li>
    </ul>
</div>
<div>
    <a name="library-r"></a>
    <h4>R</h4>
    <ul>
        <li><a href="https://github.com/MangoTheCat/GoTr">GoTr</a> by <a href="https://github.com/Avatoo">Ava Yang</a></li>
    </ul>
</div>
<div>
    <a name="library-ruby"></a>
    <h4>Ruby</h4>
    <ul>
        <li><a href="https://github.com/jzntam/game_of_thrones_api">game_of_thrones_api</a> by <a href="https://github.com/jzntam">Jason Tam</a></li>
    </ul>
</div>
<div>
    <a name="library-swift"></a>
    <h4>Swift</h4>
    <ul>
        <li><a href="https://github.com/murphb52/IceAndFireKit">IceAndFireKit</a> by <a href="https://github.com/murphb52">Brian Murphy</a></li>
        <li><a href="https://github.com/ujell/IceAndFireLoader">IceAndFireLoader</a> by <a href="https://github.com/ujell">Yucel Uzun</a></li>
        <li><a href="https://github.com/fitomad/WesterosKit">WesterosKit</a> by <a href="https://github.com/fitomad">Adolfo</a></li>
    </ul>
</div>