@{
    ViewData["Title"] = "Sponsor";
}


<div id="layout-main-container" class="row">
    <div id="layout-content" class="large-12 columns">
        <section id="content" class="row">
            <div class="large-12 columns">
                <article>
                    <header id="page-header">
                        <h1 class="page-title">Sponsor An API of Ice And Fire</h1>
                    </header>
                    <div class="row">
                        <div class="small-12 medium-8 column">
                            <h3>Background</h3>
                            <p>I've actively developed and maintained this project for years and it has been a great success! Sadly though it's not free to host an API of this magnitude.</p>
                            <p>That's why I'm looking for people or companies that are willing to sponsor the site, look down below for more information.</p>

                            <h3>What do I get as a sponsor?</h3>
                            <p>You will get a banner at the top of every page with a text of your choosing that will be displayed for 1 month</p>
                            <p>Your message will be shown to thousands of people and the amount of requests that this API serves is over 1 million per month!</p>

                            <h3>How to sponsor</h3>
                            <p>Send me an <a href="mailto:info@anapioficeandfire.com">email</a> and we'll discuss the details</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>