@{
    ViewData["Title"] = "About";
}

<div id="layout-main-container" class="row">
    <div id="layout-content" class="large-12 columns">
        <section id="content" class="row">
            <div class="large-12 columns">
                <article>
                    <header id="page-header">
                        <h1 class="page-title">About An API of Ice And Fire</h1>
                    </header>
                    <div class="row">
                        <div class="small-12 medium-8 column">
                            <p>
                                An API of Ice And Fire is the world's greatest source for quantified and structured data from the universe of Ice and Fire (and the HBO series Game of Thrones).

                                We give you access to data about all the <strong>Books</strong>, <strong>Characters</strong> and <strong>Houses</strong> in an easy to use JSON format.
                            </p>

                            <h3>Who are you?</h3>
                            <p>I'm <a href="https://joakimskoog.me/">Joakim Skoog</a> and I build cool stuff over at <a href="https://nelly.com">Nelly.com</a>. If you have questions or thoughts about this API don't hesitate to send me a <a href="https://twitter.com/j_skoog">tweet</a> or an <a href="mailto:info@anapioficeandfire.com">email</a>.</p>

                            <h3>Why did you build this?</h3>
                            <p>I decided to build this API because I like to build stuff that other developers can use. A Song of Ice And Fire and Game of Thrones is also a great universe and I find it really interesting.</p>
                            <p>Besides, this was (and is) a great opportunity to try out new technologies.</p>

                            <h3>Recognitions</h3>
                            <p>This API utilizes a couple of frameworks and libraries but these are the most important ones.</p>
                            
                            <ul>
                                <li>
                                    <strong>ASP.NET Core</strong> - The API is built on top of this awesome framework by Microsoft.
                                </li>
                                <li>
                                    <strong>Azure</strong> - The API has been hosted on Azure from the very first day and it's been a smooth ride ever since.
                                </li>
                                <li>
                                    <strong>Dapper</strong> - This micro ORM has been invaluable since we switched from Entity Framework.
                                </li>
                            </ul>

                            <h3>Copyright</h3>
                            <p>The A Song of Ice And Fire series and its data is the property of <a href="http://www.georgerrmartin.com/">George R.R. Martin</a>. The data is used without claim of ownership.</p>
                            <p>All data has been collected from open free sources such as <a href="http://awoiaf.westeros.org">A Wiki of Ice and Fire</a> and has then been normalized and cleaned.</p>
                            <p>This project uses a BSD license.</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>