name: Release CD

on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'

jobs:
  build-deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4.1.1
      - name: Login Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Build & publish
      - name: Build & Publish
        run: |
          dotnet restore
          dotnet build -c Release
          dotnet publish src/AnApiOfIceAndFire -c Release --property:PublishDir=publish/anapioficeandfire

      # Deploy to Azure
      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: anapioficeandfire
          package: src/AnApiOfIceAndFire/publish/anapioficeandfire
      
      - name: logout
        run: |
          az logout
